html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Jost', sans-serif;
    color: #2d3746;
    background-color: #222831;
    padding-top: 150px;
}

p {
    margin: 0;
    padding: 10px;
    font-size: 1.5vw;  
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    text-decoration: underline;
    margin-left: 15px;
}

a:link {
    color: dodgerblue;
}

a:visited {
    color: dodgerblue;
}

a:hover {
    color: purple;
}

h2 {
    text-shadow: 2px -2px #df9c00;
    padding-bottom: 20px;
}

h2, .sideNavItem {
    text-transform: uppercase;
}

h4 {
    font-size: 1.8vw;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.card {
    display: none; /* Hiding all cards by default */
    transition: opacity 5s ease-in-out;
}

.card-title {
    font-size: 3vw;
}

.card-body h3{
    font-size: 2.25vw;
}

.card-body h4{
    font-size: 2vw;
}

.card-body {
    font-size: 1.5vw;
}

.card-body a {
    font-size: 2vw;
}

.sideNavItem {
    margin: 1.8vw 0;
    padding: 0;
    text-align: center;
    font-size: 2.5vw;
    text-shadow: 2px -2px black;
}

.sideNavItemSelected {
    text-decoration: underline;
    color: #df9c00
}

.sideNavItem a {
    color: white;
    text-decoration: none;
    padding: 5px;
}

.sideNavItem a:hover {
    color: #df9c00;
}

.row {
    margin: 0;
    padding: 0;
    display: flex;
}

.column {
    margin: 0;
    padding: 0;
    flex: 1;
}

.separator {
    padding: 0;
    margin: 0;
}

.centerContent {
    text-align: center;
}